
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Your Zoo MadLib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>
<body>
<div id="container">
<h1>Labor Day:</h1>

<p>@Model.Name1 was tired of @Model.Verb1 ing from sun-up to @Model.Noun1 at the local @Model.Noun2 factory. One day, on his way to work, @Model.Name1 noticed @Model.PluralNoun1 holding up signs outside the factory.  He saw his friend @Model.Name2  @Model.Verb2 ing outside with the @Model.Adjective2 crowd holding a @Model.Noun3, too.
</p>
</div>
</body>
</html>