<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Your Vacation MadLib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>

    <div id ="container">
      <h1>MadLib Completed:</h1>

        <p>
          A vacation is when you take a trip to some @Model.Adjective1 place with your @Model.Adjective2 family. Usually you go to some place that is near a/an @Model.Noun1 or up on a/an @Model.Noun2. A good vacation place is one where you can ride @Model.PluralNoun1 or play @Model.Game or go hunting for @Model.PluralNoun2. 
        </p>

    </div>

  </body>
</html>