<div id="container">
<h1>Your Completed MadLib:</h1>

<p>Today I went to the zoo. I saw a(n)
@Model.Adjective1 @Model.Animal1 jumping up and down in its @Model.Noun1.
It @Model.VerbPast1 @Model.Adverb1 through the large tunnel that led to its @Model.Adjective2
@Model.Noun2. I got some @Model.Food and passed
them through the cage to a gigantic @Model.Color @Model.Animal2
towering above my head. 
</p>
</div>